<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="bookForm">

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="price">Admin password</label>
                        <input type="text" id="price" formControlName="price"  class="form-control" (keydown)=press($event)>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button button mat-Stroked-button color="accent"
                    *ngIf=password routerLink="/admin">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


   