<div class="row">
    <div class="col-xs-5">
        <p>your shopping-list!</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        <hr>
        <ul class="list-group">
            <a class="list-group-item clearfix" *ngFor="let bookSell of selectedBooks; let i=index" >
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{bookSell.name}}</h4>
                    <p class="list-group-item-text">{{bookSell.price}}</p>
                    <button class="btn btn-danger" type="button" id="{{i}}"(click)="onDelete($event)">-</button>
                    <button class="btn btn-success" type="submit" (click)="onAddItem($event)">+</button>
                </div>             
                <span class="pull-right">
                    <img src="{{bookSell.imagePath}}"
                    alt="" class="img-responsive" style="max-height: 85px;">
                </span></a>
                <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </ul>
    </div>
</div>